[importlinter]
root_package = app
include_external_packages = True

[importlinter:contract:warstwy]
name = Warstwy
type = layers
layers =
    app.api
    app.workflows
    app.services
    app.repositories
    app.models

[importlinter:contract:moduly]
name = Niezależność modułów domenowych
type = independence
modules =
    app.services.tenancy
    app.services.extraction
    app.services.charge_codes
    app.services.rate_lines
    app.services.charges
    app.services.quotations
    app.services.organization_calendars
    app.services.stops
    app.services.resources
    app.services.trips
    app.services.containers
    app.services.organization_settings
    app.services.geography
    app.services.parties
    app.services.commodity_codes
    app.services.nbp_rates
    app.services.dangerous_goods
    app.services.document_checklist_rules
    app.services.document_dispatch_rules
    app.services.booking_instructions
    app.services.field_carry_forwards
    app.services.networks
    app.services.carrier_inquiries
    app.services.inbound_messages
    app.services.incoterm_responsibilities
    app.services.customer_rfqs
    app.services.operator_decisions
    app.services.operator_notices
    app.services.mail_drafts
    app.services.outbox_events
    app.services.entity_events
    app.services.port_surcharges
    app.services.channel_quotes
    app.services.shipments
    app.services.shipment_stakeholders
    app.services.tracking_events
    app.services.shipment_documents
    app.services.operational_exceptions
    app.services.cargo_claims
    app.services.fraud_flags
    app.services.edi_messages
    app.services.sales_invoices
    app.services.quote_invoice_settlements
    app.services.bank_payments
    app.services.money_costs
    app.services.fx_differences
    app.services.cash_flows
    app.services.cost_to_serve
    app.services.bookkeeping
    app.services.collective_invoices
    app.services.gdpr_requests
    app.services.shipment_legs
    app.services.groupage_lines
    app.services.shipment_packages
    app.services.dock_appointments
    app.services.cod_instructions
    app.services.groupage_tariffs
    app.services.ocean_bills
    app.services.pallet_balances
    app.services.document_templates
    app.services.rate_cards
    app.services.charge_templates
    app.services.fuel_indexes
    app.services.local_charges
    app.services.tender_quotes
    app.services.tenders
    app.services.tender_lots
    app.services.tender_lanes
    app.services.tender_rounds
    app.services.tender_data_rooms
    app.services.tender_matrix_cells
    app.services.tender_playbooks
    app.services.tender_win_losses
    app.services.tender_consortium_members

[importlinter:contract:integracje]
name = Integracje nie znają serwisów
type = forbidden
source_modules = app.integrations
forbidden_modules = app.services

[importlinter:contract:domena]
name = Domena bez zależności zewnętrznych
type = forbidden
source_modules = app.domain
forbidden_modules =
    fastapi
    sqlalchemy
    httpx

[importlinter:contract:extraction-no-rates]
name = Extraction nie zna stawek ani charge
type = forbidden
source_modules =
    app.services.extraction
    app.repositories.extraction
forbidden_modules =
    app.services.rate_lines
    app.services.charges
    app.repositories.rate_lines
    app.repositories.charges
    app.services.quotations
    app.repositories.quotations
    app.models.rate_line
    app.models.charge
    app.models.quotation
    app.services.organization_settings
    app.repositories.organization_settings
    app.services.organization_calendars
    app.repositories.organization_calendars
    app.models.organization_calendar
    app.services.stops
    app.repositories.stops
    app.models.stop
    app.services.resources
    app.repositories.resources
    app.models.resource
    app.services.trips
    app.repositories.trips
    app.models.trip
    app.services.containers
    app.repositories.containers
    app.models.container
    app.models.organization_setting
    app.services.parties
    app.repositories.parties
    app.models.party
    app.models.party_scorecard
    app.models.credit_review
    app.models.customer_sop
    app.services.commodity_codes
    app.repositories.commodity_codes
    app.models.commodity_code
    app.services.nbp_rates
    app.repositories.nbp_rates
    app.models.nbp_rate
    app.services.dangerous_goods
    app.repositories.dangerous_goods
    app.models.dangerous_good
    app.services.document_checklist_rules
    app.repositories.document_checklist_rules
    app.models.document_checklist_rule
    app.services.document_dispatch_rules
    app.repositories.document_dispatch_rules
    app.models.document_dispatch_rule
    app.services.booking_instructions
    app.repositories.booking_instructions
    app.models.booking_instruction
    app.services.field_carry_forwards
    app.repositories.field_carry_forwards
    app.models.field_carry_forward
    app.services.networks
    app.repositories.networks
    app.models.network
    app.services.inbound_messages
    app.repositories.inbound_messages
    app.models.inbound_message
    app.services.incoterm_responsibilities
    app.repositories.incoterm_responsibilities
    app.models.incoterm_responsibility
    app.services.customer_rfqs
    app.repositories.customer_rfqs
    app.models.customer_rfq
    app.services.operator_decisions
    app.repositories.operator_decisions
    app.models.operator_decision
    app.services.operator_notices
    app.repositories.operator_notices
    app.models.operator_notice
    app.services.mail_drafts
    app.repositories.mail_drafts
    app.models.mail_draft
    app.services.outbox_events
    app.repositories.outbox_events
    app.models.outbox_event
    app.services.entity_events
    app.repositories.entity_events
    app.models.entity_event
    app.services.port_surcharges
    app.repositories.port_surcharges
    app.models.port_surcharge
    app.services.channel_quotes
    app.repositories.channel_quotes
    app.models.channel_quote
    app.services.shipments
    app.repositories.shipments
    app.models.shipment
    app.services.shipment_stakeholders
    app.repositories.shipment_stakeholders
    app.models.shipment_stakeholder
    app.services.tracking_events
    app.repositories.tracking_events
    app.models.tracking_event
    app.services.shipment_documents
    app.repositories.shipment_documents
    app.models.shipment_document
    app.services.operational_exceptions
    app.repositories.operational_exceptions
    app.models.operational_exception
    app.services.cargo_claims
    app.repositories.cargo_claims
    app.models.cargo_claim
    app.services.fraud_flags
    app.repositories.fraud_flags
    app.models.fraud_flag
    app.services.edi_messages
    app.repositories.edi_messages
    app.models.edi_message
    app.services.sales_invoices
    app.repositories.sales_invoices
    app.models.sales_invoice
    app.services.quote_invoice_settlements
    app.repositories.quote_invoice_settlements
    app.models.quote_invoice_settlement
    app.services.bank_payments
    app.repositories.bank_payments
    app.models.bank_payment
    app.services.money_costs
    app.repositories.money_costs
    app.models.money_cost
    app.services.fx_differences
    app.repositories.fx_differences
    app.models.fx_difference
    app.services.cash_flows
    app.repositories.cash_flows
    app.models.cash_flow
    app.services.cost_to_serve
    app.repositories.cost_to_serve
    app.models.cost_to_serve
    app.services.bookkeeping
    app.repositories.bookkeeping
    app.models.bookkeeping
    app.services.collective_invoices
    app.repositories.collective_invoices
    app.models.collective_invoice
    app.services.gdpr_requests
    app.repositories.gdpr_requests
    app.models.gdpr_request
    app.services.shipment_legs
    app.repositories.shipment_legs
    app.models.shipment_leg
    app.services.groupage_lines
    app.repositories.groupage_lines
    app.models.groupage_line
    app.services.shipment_packages
    app.repositories.shipment_packages
    app.models.shipment_package
    app.services.dock_appointments
    app.repositories.dock_appointments
    app.models.dock_appointment
    app.services.cod_instructions
    app.repositories.cod_instructions
    app.models.cod_instruction
    app.services.groupage_tariffs
    app.repositories.groupage_tariffs
    app.models.groupage_tariff
    app.services.ocean_bills
    app.repositories.ocean_bills
    app.models.ocean_bill
    app.services.pallet_balances
    app.repositories.pallet_balances
    app.models.pallet_balance
    app.services.document_templates
    app.repositories.document_templates
    app.models.document_template
    app.services.rate_cards
    app.repositories.rate_cards
    app.models.rate_card
    app.services.charge_templates
    app.repositories.charge_templates
    app.models.charge_template
    app.services.fuel_indexes
    app.repositories.fuel_indexes
    app.models.fuel_index
    app.services.local_charges
    app.repositories.local_charges
    app.models.local_charge
    app.services.tender_quotes
    app.repositories.tender_quotes
    app.models.tender_quote
    app.services.tenders
    app.repositories.tenders
    app.models.tender
    app.services.tender_lots
    app.repositories.tender_lots
    app.models.tender_lot
    app.services.tender_lanes
    app.repositories.tender_lanes
    app.models.tender_lane
    app.services.tender_rounds
    app.repositories.tender_rounds
    app.models.tender_round
    app.services.tender_data_rooms
    app.repositories.tender_data_rooms
    app.models.tender_data_room
    app.services.tender_matrix_cells
    app.repositories.tender_matrix_cells
    app.models.tender_matrix_cell
    app.services.tender_playbooks
    app.repositories.tender_playbooks
    app.models.tender_playbook
    app.services.tender_win_losses
    app.repositories.tender_win_losses
    app.models.tender_win_loss
    app.services.tender_consortium_members
    app.repositories.tender_consortium_members
    app.models.tender_consortium_member
